@use 'src/styles/variables';

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 28px;
}

.input {
  width: 100%;
  min-width: 320px;
  font-size: variables.$font-body-md;
  border: none;
  border-bottom: 1px solid variables.$color-black;
  padding: 6px 45px 6px 0;

  &:active, &:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid variables.$color-black;
  }

  &.error {
    border-color: variables.$color-error;
  }

  &::placeholder {
    color: variables.$color-gray-500;
  }
}

.length {
  position: absolute;
  right: 0;
  color: variables.$color-gray-500;
  font-size: variables.$font-body-md;
}

.errorMessage {
  flex: none;
  position: absolute;
  bottom: -25px;
  color: variables.$color-error;
  font-size: variables.$font-body-sm;
}