@use 'src/styles/variables';

.button {
  border: none;
  outline: none;
  width: 100%;
  color: variables.$color-white;
  font-size: variables.$font-button;
  padding: variables.$spacing-3;
  border-radius: variables.$radius-button;
  background-color: variables.$color-active;
  cursor: pointer;

  &:active, &:focus {
    outline: none;
  }

  &[disabled] {
    background-color: variables.$color-button-disabled;
  }
}