@use '../../styles/variables';

.pageContainer {
  display: flex;
  flex-direction: column;
  gap: variables.$components-vertical-gap;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: variables.$page-title-vertical-gap;
}

.description {
  display: flex;
  align-items: start;
  gap: variables.$spacing-1;
}

.badge {
  color: #FB6767;
  padding: 0 variables.$spacing-2;
  background-color: #F8E4E4;
  border-radius: variables.$radius-full;
}

.sweaterContainer {
  position: relative;

  img {
    touch-action: none;
    user-select: none;
    pointer-events: none;
  }

  .ornament {
    position: absolute;
    width: 10%;
  }
}

.buttonContainer {
  display: flex;
  gap: variables.$component-button-spacing;
}

.quickView {
  .title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .viewMore {
    display: block;
    width: 100%;
    text-align: center;
    padding: variables.$spacing-3;
    margin-top: variables.$spacing-3;
    border-top: 1px solid variables.$color-gray-400;
  }
}

.splashVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
  display: block;
  transition: .3s opacity ease-in-out;
  background-color: #0C0928;
  z-index: 3;

  &.fadeOut {
    opacity: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  p {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    color: variables.$color-white;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    line-height: 1.2;
    text-shadow: 0 0 10px #0C0928;
  }
}