@use '../../../styles/variables';

ul {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-3;
  padding-top: variables.$spacing-3;
}

li {
  display: flex;
  align-items: center;
  gap: variables.$spacing-3;
}

.imageContainer {
  width: 18%;
  max-width: 80px;
  padding: variables.$spacing-2;
  background-color: variables.$color-primary-50;
  border-radius: variables.$radius-md;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .date {
    color: variables.$color-gray-400;
    font-weight: normal;
    font-size: variables.$font-body-sm;
    padding-left: variables.$spacing-1;
  }
}

.emptyMessage {
  text-align: center;
  padding: variables.$spacing-5 0;
}
