// Reference Token
$color-text: #000;
$color-black: #000;
$color-white: #FFF;
$color-error: #FF0000;
$color-bg: #EBEBEB;

$color-gray-50: #FAFAFA;
$color-gray-100: #F5F5F5;
$color-gray-200: #EEE;
$color-gray-300: #E0E0E0;
$color-gray-400: #BDBDBD;
$color-gray-500: #9E9E9E;
$color-gray-600: #757575;
$color-gray-700: #616161;
$color-gray-800: #424242;
$color-gray-900: #212121;

$color-primary-50: #E8EAF6;
$color-primary-100: #C5CAE9;
$color-primary-200: #9FA8DA;
$color-primary-300: #7986CB;
$color-primary-400: #5C6BC0;
$color-primary-500: #3F51B5;
$color-primary-600: #3949AB;
$color-primary-700: #303F9F;
$color-primary-800: #283593;
$color-primary-900: #1A237E;

$font-title-md: 24px;
$font-body-lg: 18px;
$font-body-md: 16px;
$font-body-sm: 14px;
$font-button-md: 16px;

$font-weight: 400;
$font-weight-bold: 700;

$radius-sm: 4px;
$radius-md: 8px;
$radius-full: 100vh;
$radius-button: 24px;

$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 32px;
$spacing-6: 40px;
$spacing-7: 48px;

// Component Token
$device-min-width: 320px;
$device-max-width: 600px;
$device-content-max-height: 600px;

$font: $font-body-md;
$font-h1: $font-title-md;
$font-h2: $font-body-lg;
$font-button: $font-body-md;

$color-active: $color-black;
$color-button-disabled: $color-gray-600;
$color-placeholder: $color-gray-500;
$color-border: $color-gray-500;
$color-card-active: $color-primary-900;

$card-gap: $spacing-3; // cardList의 item 간의 간격

$component-button-min-gap: $spacing-4; // component와 button 사이의 최소 세로 간격
$components-vertical-gap: $spacing-5; // component 간의 세로 간격
$component-horizontal-padding: $spacing-4; // component의 가로 padding

$textarea-padding: $spacing-3; // textarea의 전체 padding