@use 'src/styles/variables';

.cardList {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: variables.$card-gap;
}

.card {
  border: 1px solid variables.$color-border;
  border-radius: 4px;

  &:hover, &.active {
    border-color: variables.$color-card-active;
    box-shadow: 0 0 5px variables.$color-card-active;
  }

  .image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }
}