@use 'src/styles/variables';

h1 {
  font-weight: variables.$font-weight;
  font-size: variables.$font-h1;
  color: variables.$color-black;
}

h2 {
  font-weight: variables.$font-weight;
  font-size: variables.$font-h1;
  color: variables.$color-black;
}

.bold {
  font-weight: variables.$font-weight-bold;
}
