@use '../../styles/variables' as *;

.pageContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-6;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
}

.description {
  display: flex;
  align-items: start;
  gap: $spacing-1;
}

.badge {
  color: #FB6767;
  padding: 0 $spacing-2;
  background-color: #F8E4E4;
  border-radius: $radius-full;
}

.sweaterContainer {
  position: relative;
  background-color: lightgray;

  > img {
    touch-action: none;
    user-select: none;
    pointer-events: none;
  }
}

.buttonContainer {
  display: flex;
  gap: $spacing-2;
}
