@use '../../../styles/variables';

.modalContents {
  display: flex;
  flex-direction: column;
  gap: variables.$modal-vertical-gap;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-2;

  input {
    height: 50px;
    padding: 0 variables.$textarea-padding;
    border: 1px solid variables.$color-gray-400;
    font-size: variables.$font-body-sm;

    &:active, &:focus {
      border-color: variables.$color-active;
      outline: none;
    }

    &::placeholder {
      color: variables.$color-placeholder;
    }
  }
}

.messageInfo {
  display: flex;
  align-items: center;
  gap: variables.$card-gap;
  font-size: variables.$font-body-sm;

  .imageContainer {
    width: 20%;
    padding: variables.$spacing-2;
    background-color: variables.$color-secondary-100;
    border-radius: variables.$radius-md;
    border: 1px solid variables.$color-gray-400;
  }
}

.message {
  padding: variables.$textarea-padding;
  border: 1px solid variables.$color-gray-400;
  font-size: variables.$font-body-sm;
}