@use '../styles/variables' as *;

.app {
  position: relative;
  min-width: 320px;
  max-width: 600px;
  min-height: 100%;
  margin: 0 auto;
  background-color: $color-white;
  padding: $spacing-6 $component-horizontal-padding;
  overflow: hidden;
}