@use 'src/styles/variables';

.loginContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .buttonContainer {
    padding: variables.$component-button-min-gap 0;

    .loginButton {
      width: 300px;
      height: 45px;
      background: url('src/assets/images/login/kakao-login.png');
    }
  }
}